* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #1bb55c;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 2.5rem;
}

h1 {
	font-size: 3rem;
	font-weight: 800;
	line-height: 139%;
	letter-spacing: 0.5px;
}

h3 {
	font-size: 48px;
	width: auto;
	height: auto;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	line-height: 65px;
}

p {
	font-family: 'Open Sans', sans-serif;
	color: #8b8b8b;
}

/* NAVBAR */

nav.navbar.navbar-expand-lg.navbar-light {
	padding-bottom: 40px;
}

/* Home Section */
/* 
.homeTitle {
	position: relative;
	top: 50px;
	left: -247px;
} */

.homeDesc {
	width: 100%;
	height: auto;
	/* position: relative;
	left: -170px;
	top: 72px; */
	font-size: 1em;
	line-height: 33px;
}

/* #Home .btn {
	position: relative;
	top: 148px;
	left: -125px;
} */

/* #Home H6 {
	position: relative;
	top: 118px;
} */

section#Home {
	padding: 5%;
}

h6 {
	display: inline;
}

.Home_right {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.homeImageOne {
	width: 60%;
	height: 30%;
	position: absolute;
}

.homeImageTwo {
	width: 30%;
	height: 70%;
	position: absolute;
	left: 64%;
}

.homeImageThree {
	width: 60%;
	height: 70%;
	position: absolute;
	top: 32%;
}

.homeImageFour {
	width: 30%;
	height: 30%;
	position: absolute;
	top: 72%;
	left: 64%;
}

/* Services Section */

#Services {
	padding: 5%;
}

.jumbotron {
	background-color: #fff;
}

.jumbotron .container-fluid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
}

.row {
	justify-content: center;
}

/* About Section */

#About {
	padding: 5%;
}

.aboutRight {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.aboutImage {
	width: 47%;
	height: 47%;
}

/* Project Section */

#Project {
	padding: 5%;
}

.projectImage {
	width: 90%;
	height: 90%;
}

/* Promo Section */

#Promo {
	padding: 5%;
}

.promoTop {
	text-align: center;
}

.promoCount {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

/* Partners Section */

#Partners {
	padding: 5%;
}

/* Contact Section */

#Contact {
	padding: 5%;
}

.contactTop {
	display: flex;
	/* text-align: center; */
	flex-direction: column;
	align-items: center;
}

.contact_title {
	width: 60%;
}

.contact_desc {
	width: 75%;
}

.contactBottom {
	color: rgba(80, 80, 80, 0.1);
	text-align: center;
}

input.email {
	width: 50%;
	height: 100%;
	padding: 5px;
}

/* Footer Section */

footer,
footer h4 {
	background-color: #1bb55c;
	color: #fff;
	padding: 10%;
	padding-bottom: 2%;
}

footer a,
footer li {
	text-decoration: none;
	color: #fff;
	list-style: none;
	padding: 4%;
	font-size: 20px;
}

footer p {
	color: #fff;
	text-align: center;
	margin-top: 5%;
}
