* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #1bb55c;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 72px;
	width: 675px;
	height: 237px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	line-height: 100px;
	/* or 139% */

	letter-spacing: 0.5px;
}

h3 {
	font-size: 48px;
	width: 448px;
	height: 130px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	line-height: 65px;
}

.jumbotron {
	background-color: #fff;
}

.jumbotron .container-fluid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 100px;
}

.row {
	justify-content: center;
}

p {
	font-family: 'Open Sans', sans-serif;
}

.homeTitle {
	position: relative;
	top: 50px;
	left: -247px;
}

.homeDesc {
	width: 438px;
	height: 66px;
	position: relative;
	left: -170px;
	top: 72px;
	font-size: 18px;
	line-height: 33px;
}

#Home .btn {
	position: relative;
	top: 148px;
	left: -125px;
}
#Home H6 {
	position: relative;
	top: 118px;
}

section#Home {
	margin-bottom: 200px;
}

.homeImageOne {
	width: 387px;
	height: 239px;
	position: absolute;
}

.homeImageTwo {
	width: 285px;
	height: 387px;
	position: absolute;
	left: 411px;
}

.homeImageThree {
	width: 387px;
	height: 341px;
	position: absolute;
	top: 255px;
}

.homeImageFour {
	width: 285px;
	height: 193px;
	position: absolute;
	top: 397px;
	left: 412px;
}

.projectImageOne {
}

footer {
	background-color: #1bb55c;
}
